Checks: "-*,
        bugprone-*,
        cppcoreguidelines-*,
        misc-no-recursion,
        misc-redundant-expression,
        misc-definitions-in-headers,
        cppcoreguidelines-prefer-member-initializer,
        modernize-use-auto,
        -performance-move-const-arg,
        -performance-implicit-conversion-in-loop,
        -performance-type-promotion-in-math-fn,
        -readability-avoid-const-params-in-decls,
        -readability-braces-around-statements,
        -readability-delete-null-pointer,
        -readability-else-after-return,
        -readability-magic-numbers,
        -readability-non-const-parameter,
        -readability-redundant-declaration,
        -readability-isolate-declaration,
        -readability-implicit-bool-conversion,
        -readability-misleading-indentation,
        -performance-for-range-copy,
        -readability-qualified-auto,
        google-build-namespaces,
        google-build-using-namespace,
        google-global-names-in-headers,
        google-runtime-operator,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        modernize-avoid-c-arrays,
        -modernize-use-trailing-return-type,
        -readability-else-after-return,
        -readability-named-parameter,
        -modernize-use-emplace,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic"
WarningsAsErrors: "*"
ExtraArgs:
  - "-std=c++17"
ExtraArgsBefore:
  - "-xc++"